/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  background-image: linear-gradient(to bottom right, #3F1E60, #001C4C);
  min-height: 100vh;
}


#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  height: 4em;
  background-color: #061735;
}

#add-content{
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 1em; 
}

#add-content button {
  height: 70%;
  width: 15rem;
  color: #003A6D;
  font-size: 20px;
  border-radius: 3px;
}

#logo {
  z-index: 9999;
  width: 13em;
  justify-content: flex-start;
}

#my-content{
  font-size: 3em;
  font-family: Lato;
  font-weight: bold;
  color: white;
  margin: 0.8% 20%;
}


