/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  font-family: Lato;
}

body {
  background-image: linear-gradient(to bottom right, #3F1E60, #001C4C);
  min-height: 100vh;
  font-family: Lato;
  color: white;
}


#navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  height: 5.3rem;
  background-color: #061735;
}

#add-content {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 1em;
  /*looked a little off so I manually shifted it slightly to the left */
}

#add-content button {
  height: 70%;
  width: 15rem;
  color: #003A6D;
  font-size: 20px;
  border-radius: 5px;
  border-color: white;
}

#add-content button:hover {
  background-color: #724CAF;
  color: #ffffff;
}

#add-content button:focus {
  text-decoration: underline;
}

#logo {
  z-index: 9999;
  width: 13rem;
  justify-content: flex-start;
}

#my-content {
  font-size: 3em;
  font-weight: bold;
  margin: 2rem 24rem 1.5rem;
}

#main-page-wrapper {
  display: flex;
  justify-content: center;
}

.filter-option {
  margin: 1em 3em 0.5em 3em;
  list-style: none;
}

.subfilter-option {
  list-style: none;
  margin: 0.8em 5em 0.1em 0;
  padding-left: 1em;
}

.filter-container{
  border-left: 1px solid;
  margin-left: 4.4em;
  border-left: 1px solid;
}

.filter-option:hover,
.subfilter-option:hover {
  text-decoration: underline;
}

#content-div {
  overflow-y: scroll;
  /*turns div into scrollable div */
  width: 50%;
}

#content-table {
  overflow-x: none;
  border-collapse: collapse;
  font-weight: bold;
  margin:10px;
}
.whitespace{
background-color: transparent;
height:10px;
}

.headers {
  /*https://css-tricks.com/position-sticky-and-table-headers*/
  text-align: left;
  position: sticky;
  top: 0;
  background-color: #061735;
  padding: 1rem 1.5rem;
  font-weight: bold;
}

.type-header {
  width: 10%;
  border-bottom-left-radius: 10px;
}

.review-header {
  width: 35%;
}

.genre-header {
  width: 15%;
}

.rating-header {
  width: 15%;
}

.length-header {
  width: 15%;
  border-bottom-right-radius: 10px;
}

.icon-row {
  width: 10%;
}

.type-row {
  width: 10%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.review-row {
  width: 35%;
}

.genre-row {
  width: 15%;
}

.rating-row {
  width: 15%;
}

.length-row {
  width: 15%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

#table-title {
  font-size: 2em;
  background-color: #061735;
  width: 100%;
  font-size: 2em;
  padding: 1rem 1.5rem;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon-row{
  text-align: left;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #061735;
  padding: 1rem 1.5rem;
  font-weight: bold;
  width: 10%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.movie-title {
  text-align: left;
  font-size:1.3em;
  background-color: #061735;
  padding-bottom:0.4rem;
  font-weight: bold;
}

.display-content{
  box-shadow: 0 0 4px rgba(255, 255, 255, 1);
  border-radius:10px;  
}

#content-div::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

#content-div::-webkit-scrollbar-track {
  /* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

#content-div::-webkit-scrollbar-thumb{
  background-color: #061735;
  border-radius: 3px;
}

#content-popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#content-popup {
  background-image: linear-gradient(to bottom right, #3F1E60, #001C4C);
  padding: 20px;
  margin:1em;
  border-radius: 0.3rem;
}

input {
  border-radius:0.3rem;
}

h2 {
  font-size: 2em;
  padding-bottom: 0.3em;
  display: inline-block;
}

#show-name {
  display: none;
}

#form-close > a{
  color: white;
}

#form-close{
  margin-top: 5px;
}

.form-title {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.form-content {
  display: flex;
  margin: 0.5rem 0.5rem 0.3rem 0.5rem;
  flex-direction: row;
}

.form-content>label {
  float: left;
  width: 10em;
}

.form-input {
  width: 30em;
  margin-bottom: 0.2em;
}

.form-input-checkbox {
  margin-bottom: 0.2em;
  width: 30em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  }

.form-input-save {
  width: 100%;
  padding-top: 0.2em;
  justify-content: flex-end;
} 

#save {
  float: right;
  width: 20%;
  height:110%;
}

.text-field-large {
  height: 7rem;
  width:100%;
  max-width:100%;
}

#genre-select{

  height: 5em;
  width:100%;
  max-width:100%;
}

#content-popup *::-webkit-scrollbar {
  color: black;
  width: 7px;
}

#content-popup *::-webkit-scrollbar-track { /*universal selector to apply to everything in content popup*/
  /* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

#content-popup *::-webkit-scrollbar-thumb{
  background-color: #061735;
  border-radius: 3px;
}

.title-input {
  width:100%;
}

input:focus {
  box-shadow: 0px 0px 5px white;
}

select {
  color: #001C4C;
  -webkit-text-fill-color: black;
}

#show-length {
  display: none;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

#movie-icon, #tvshow-icon{
  scale:180%;
  margin:auto;
}

#movie-button {
  width: 48%;
  border-radius: 0.3rem;
  background-color: white;
  color: #26133E;
  font-size:1.2rem;
}

#movie-button {
  width: 48%;
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  color: #26133E;
  font-size:1.2rem;
}

#tvshow-button {
  width: 48%;
  padding: 0 0.5rem;
  border-radius: 0.3rem;
  background-color: white;
  color: #26133E;
  font-size:1.2rem;
}

#form-input-radio {
  text-align:center;
  display:flex;
  justify-content: space-between;
}

[type='radio'] {
  display: none; 
}

.active-button:checked + label {
  border-radius: 0.3rem;
  background-color: rgb(37, 0, 139);
  color: white;
  font-size:1.2rem;
}


